<h1>Capstone Project Battle of neighbourhood Week 3 Part 1</h1>

In [1]:
import numpy as np
import pandas as pd
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [2]:
tables = pd.read_html(link,header=0)[0]
tables

    Postal code  ...                                                                                        Neighborhood
0    M1A         ...  NaN
1    M2A         ...  NaN
2    M3A         ...  Parkwoods
3    M4A         ...  Victoria Village
4    M5A         ...  Regent Park / Harbourfront
..   ...         ...                         ...
175  M5Z         ...  NaN
176  M6Z         ...  NaN
177  M7Z         ...  NaN
178  M8Z         ...  Mimico NW / The Queensway West / South of Bloor / Kingsway Park South West / Royal York South West
179  M9Z         ...  NaN

[180 rows x 3 columns]

In [3]:
# Lets see the shape of dataset
tables.shape

(180, 3)

In [0]:
# Renaming the columns
tables.columns = ['PostalCode', 'Borough', 'Neighborhood']
# Extracting Table that has an assigned borrow
table_b_a = tables[tables['Borough'] != 'Not assigned']
# Extracting Table that has not assigned borrow
table_b_na = tables[tables['Borough'] == 'Not assigned']

In [5]:
# Lets check out the shape for each assigned and not assigned borrow
print(table_b_a.shape)
print(table_b_na.shape)

(103, 3)
(77, 3)

<h2>Groupby Post code</h2>

In [6]:
# Group by postcode
table_grouped = table_b_a.groupby('PostalCode')
#  These are the keys by which the table is grouped
table_grouped.groups.keys()

dict_keys(['M1B', 'M1C', 'M1E', 'M1G', 'M1H', 'M1J', 'M1K', 'M1L', 'M1M', 'M1N', 'M1P', 'M1R', 'M1S', 'M1T', 'M1V', 'M1W', 'M1X', 'M2H', 'M2J', 'M2K', 'M2L', 'M2M', 'M2N', 'M2P', 'M2R', 'M3A', 'M3B', 'M3C', 'M3H', 'M3J', 'M3K', 'M3L', 'M3M', 'M3N', 'M4A', 'M4B', 'M4C', 'M4E', 'M4G', 'M4H', 'M4J', 'M4K', 'M4L', 'M4M', 'M4N', 'M4P', 'M4R', 'M4S', 'M4T', 'M4V', 'M4W', 'M4X', 'M4Y', 'M5A', 'M5B', 'M5C', 'M5E', 'M5G', 'M5H', 'M5J', 'M5K', 'M5L', 'M5M', 'M5N', 'M5P', 'M5R', 'M5S', 'M5T', 'M5V', 'M5W', 'M5X', 'M6A', 'M6B', 'M6C', 'M6E', 'M6G', 'M6H', 'M6J', 'M6K', 'M6L', 'M6M', 'M6N', 'M6P', 'M6R', 'M6S', 'M7A', 'M7R', 'M7Y', 'M8V', 'M8W', 'M8X', 'M8Y', 'M8Z', 'M9A', 'M9B', 'M9C', 'M9L', 'M9M', 'M9N', 'M9P', 'M9R', 'M9V', 'M9W'])

In [7]:
# Lets check out one of the group
table_grouped.get_group('M5G')

   PostalCode           Borough        Neighborhood
40  M5G        Downtown Toronto  Central Bay Street

<h2>Join the Neigborhood in a group by comma</h2>
Creating a new empty dateframe

In [0]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood']

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [9]:
neighborhoods

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [0]:
def add_comma_neighbor(grp):
    '''
    This function return the borough as well as Neighbor hood for each group combined or joined with comma.
    '''
    return table_grouped.get_group(grp)['Borough'].iloc[0], ", ".join(table_grouped.get_group(grp)['Neighborhood'])

In [11]:
# Looping for each group and appending the result to our empty neighborhoods dataframe just created
for grp in table_grouped.groups.keys():
    borough, neighbor = add_comma_neighbor(grp)
    neighborhoods = neighborhoods.append({'PostalCode' : grp,
                                          'Borough': borough,
                                          'Neighborhood': neighbor
                                         }, ignore_index=True)
neighborhoods

    PostalCode  ...                                                                                                          Neighborhood
0    M1B        ...  Malvern / Rouge
1    M1C        ...  Rouge Hill / Port Union / Highland Creek
2    M1E        ...  Guildwood / Morningside / West Hill
3    M1G        ...  Woburn
4    M1H        ...  Cedarbrae
..   ...        ...        ...
98   M9N        ...  Weston
99   M9P        ...  Westmount
100  M9R        ...  Kingsview Village / St. Phillips / Martin Grove Gardens / Richview Gardens
101  M9V        ...  South Steeles / Silverstone / Humbergate / Jamestown / Mount Olive / Beaumond Heights / Thistletown / Albion Gardens
102  M9W        ...  Northwest

[103 rows x 3 columns]

In [12]:
# Lets verify our results
neighborhoods[neighborhoods['PostalCode'] == "M9V"]

    PostalCode  ...                                                                                                          Neighborhood
101  M9V        ...  South Steeles / Silverstone / Humbergate / Jamestown / Mount Olive / Beaumond Heights / Thistletown / Albion Gardens

[1 rows x 3 columns]

<h2>Assigning Borough to neighborhood if a cell has a borough but a Not assigned neighborhood</h2>

In [13]:
# Lets check which are the rows that have Neighborhood as "Not assigned"
neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [0]:
neighborhoods.loc[neighborhoods['Neighborhood'] == 'Not assigned', 'Neighborhood'] = neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']['Borough']

In [15]:
# Lets verify
neighborhoods[neighborhoods['PostalCode'] == 'M7A']

   PostalCode           Borough                                  Neighborhood
85  M7A        Downtown Toronto  Queen's Park / Ontario Provincial Government

In [16]:
neighborhoods.shape

(103, 3)

<h2>PART 2</h2>

In [17]:
# Lets have a look at our database
neighborhoods.head()

  PostalCode      Borough                              Neighborhood
0  M1B        Scarborough  Malvern / Rouge
1  M1C        Scarborough  Rouge Hill / Port Union / Highland Creek
2  M1E        Scarborough  Guildwood / Morningside / West Hill
3  M1G        Scarborough  Woburn
4  M1H        Scarborough  Cedarbrae

In [0]:
import pandas as pd
df = pd.read_csv("Geospatial_Coordinates.csv")

In [20]:
df.columns = ['PostalCode', 'Latitude', 'Longitude']
df.head()

  PostalCode   Latitude  Longitude
0  M1B        43.806686 -79.194353
1  M1C        43.784535 -79.160497
2  M1E        43.763573 -79.188711
3  M1G        43.770992 -79.216917
4  M1H        43.773136 -79.239476

In [21]:
neigh_latlong = neighborhoods.merge(df, how='inner', left_on=['PostalCode'], right_on=['PostalCode'])
neigh_latlong.head()

  PostalCode      Borough  ...   Latitude  Longitude
0  M1B        Scarborough  ...  43.806686 -79.194353
1  M1C        Scarborough  ...  43.784535 -79.160497
2  M1E        Scarborough  ...  43.763573 -79.188711
3  M1G        Scarborough  ...  43.770992 -79.216917
4  M1H        Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [22]:
neigh_latlong[neigh_latlong['PostalCode'] == 'M9L']

   PostalCode     Borough   Neighborhood   Latitude  Longitude
96  M9L        North York  Humber Summit  43.756303 -79.565963